@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  /* padding: 1rem; */
}
body {
  font-family: "Open Sans", Courier, monospace;
  max-width: 1440px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #006248;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 10px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  border-radius: 1rem;
}
nav ul li a:hover {
  color: #006248;
  background-color: #fff;
}
.main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-direction: row;
}
.lgrid img {
  width: 100%;
  height: 100%;
}
.rgrid {
  display: flex;
  flex-direction: column;
}
.rgrid h3 {
  padding: 1rem 0;
}
form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.form input {
  padding: 1rem;
  width: 80%;
  margin: auto;
  border-radius: 10px;
}
form label {
  margin-left: 5rem;
}
#started {
  width: 10rem;
  background-color: #006248;
  color: #fff;
  font-weight: bolder;
}

.choose {
  /* padding: 1rem; */
}
.degreeOption {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.degree {
  padding: 1.5rem;
  font-size: 1.2rem;
  background-color: #006248;
  color: white;
  border-radius: 1rem;
  font-weight: bolder;
  cursor: pointer;
}

#table-container table,
#added-courses-table {
  border-collapse: collapse;
  width: 90%;
  margin: 1rem auto;
}

#table-container th,
#table-container td,
#added-courses-table th,
#added-courses-table td {
  border: 1px solid #006248; /* Add border to cells */
  padding: 8px;
  text-align: left;
}

#table-container th,
#added-courses-table th {
  background-color: #006248; /* Set background color for header */
  color: #fff; /* Set text color for header */
}

#table-container tr:nth-child(even),
#added-courses-table tr:nth-child(even) {
  background-color: #006248b4; /* Set background color for even rows */
  color: #fff; /* Set text color for even rows */
}
.input-container {
  width: 90%;
  margin: 0 auto;
}
.input-container input,
.input-container button {
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
}
.input-container button {
  background-color: #006248;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
.total-completed-credits,
.credit-calculation {
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: #006248;
}
#next {
  width: 100px;
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: 9rem;
  border-radius: 1rem;
  background-color: #006248;
  color: #fff;
}
.div {
  display: flex;
  justify-content: center;
}
.iframe {
  display: flex;
  justify-content: center;
}

.pre-degree {
  display: flex;
  flex-direction: column;
  border: 2px solid #006248;
  width: 80%;
  margin: 2rem auto;
  height: 500px;
  padding: 1.5rem;
  border-radius: 1rem;
}
.alternative ul {
  padding: 1rem;
}
.alternative ul li {
  padding: 5px;
}
#pathway {
  padding: 0.8rem;
  width: 150px;
  border-radius: 1rem;
  text-align: center;
  margin: 1rem 0;
}
.footer-section {
  /* margin: 1rem; */
}
#substitution-dropdown,
#course-code-input,
#credits-input {
  padding: 1rem 0.4rem;
  border-radius: 1rem;
  margin: 1rem 0;
}
#add-course-button {
  cursor: pointer;
  padding: 1rem 0.4rem;
  border-radius: 1rem;
  width: 100px;
  margin: 0 auto;
  background-color: #006248;
  color: #fff;
}
.add-course-table {
  margin: 1.5rem 0;
}
.completeAnalysis {
  width: 300px;
  height: 150px;
  text-align: center;
  margin: 0 auto;
  color: #006248;
  /* background-color: #006248; */
}
#table-container h2 {
  margin-left: 2rem;
  padding: 0.5rem 0;
}
#table-container select {
  padding: 0.5rem;
  border-radius: 1rem;
  font-weight: bolder;
  text-align: center;
  font-size: 1.1rem;
}
.creditTotal {
  text-align: center;
  position: fixed;
  max-width: 1440px;
  bottom: 0;
  background-color: white;
  border: 2px solid #006248;
  width: 100%;
  padding: 1.5rem;
}
.analysis {
  margin: 2rem 0;
  background-color: #006248;
  color: white;
  height: 300px;
  text-align: center;
}
.analysis h3 {
  padding: 10px 0;
}
.analysis a {
  color: white;
  padding: 1rem;
}
.old-pathway p {
  font-style: italic;
  font-size: 0.9rem;
  padding: 5px 0;
}
.uncompleted {
  padding: 1rem;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.uncompleted ul {
  padding: 1rem;
}
.uncompleted ul li {
  padding: 0.5rem;
}
.uncompleteHead,
.uncompleteBody {
  display: grid;
  gap: 7px;
  grid-template-columns: repeat(4, 1fr);
}
.uncompleteBody {
  margin: 1rem 0;
}
.certificateCourses {
  color: green;
  font-weight: bold;
}
.religionCourses {
  font-weight: bold;
  color: darkblue;
}
.capstoneCourses {
  font-weight: bold;
  color: brown;
}
.internshipCourse {
  font-weight: bold;
  color: red;
}
.generalEducation {
  color: black;
  font-weight: bold;
}
.displayInfo {
  text-align: center;
  position: fixed;
  max-width: 1440px;
  bottom: 0;
  background-color: #006248;
  color: white;
  width: 100%;
  padding: 1.5rem;
}
.finish {
  display: flex;
  justify-content: center;
}
#finish {
  cursor: pointer;
  margin-bottom: 5rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #006248;
  color: white;
}
.addCourseSetion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.addGrad {
  width: 50px;
  height: 30px;
  padding: 0.4rem;
  border-radius: 5px;
  background-color: #006248;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
}
caption {
  font-size: 1.6rem;
  font-weight: bolder;
}
.legend {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: white; /* Ensure the sticky element has a background color to make it visible */
  z-index: 10; /* Optional: Increase z-index if there are overlapping elements */
  border-bottom: #006248 2px solid;
}
.gradMain {
  padding: 1rem;
}
#gradCourseCode,
#gradCourseTitle {
  text-align: left;
}

@media (max-width: 900px) {
  .main {
    flex-direction: column-reverse;
    gap: 2rem;
  }
}
